body {font-family: "Aria", sans-serif}
header {
  border: 1px solid black;
  margin-left: 0.08em;
  margin-right: 0.08em;
  padding-left: 1em;
  }
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
article {
  margin-top: 5px;
  border: 1px solid;}
section {
  border: 1px solid grey;
  margin: 12px;
  padding: 10px;}
table {
  width: 100%;
  border-collapse: collapse;}
th, td {
    padding: 5px;
    width: 25%;
    text-align: left;}
tr {border-top: 1px solid lightgrey;}
footer {
  border: 1px solid black;
  margin-top: 0.5em;
  margin-left: 0.08em;
  margin-right: 0.08em;
  padding-left: 1em;}
